::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.rootContainer {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'logo'
    'form';
}

.spacer {
  width: 100%;
  padding-bottom: 3vh;
}

.logoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  grid-area: logo;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  height: auto;
  min-width: 200px;
}

.mainView {
  grid-area: form;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.mainView > *,
.mainView > a > *,
.form > *,
.container > * {
  margin: 0.5em 0;
}

@media only screen and (min-width: 512px) {
  .rootContainer {
    width: 50%;
    padding-top: 2em;
  }

  .logo {
    max-width: 40%;
    padding: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  .rootContainer {
    width: 70%;
    padding-top: 2em;
  }

  .logo {
    width: 30%;
    padding: 1em;
  }

  .mainView {
    zoom: 1.25;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .rootContainer button {
    border: 1px solid #009688;
    color: #009688;
  }

  .rootContainer button:hover {
    background-color: #009688;
    color: #fff;
  }

  .rootContainer .icon {
    border: 0;
    background-color: inherit;
    color: inherit;
  }

  .thirdpartyLogin {
    justify-content: space-evenly;
  }
}
