.App {
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.AppHeader {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.main {
  padding: 48px 0;
}
